.movieContainer{
  width: 290px;
  margin:2%;
  border: 1px solid red;
}
.moviePoster{
  height:300px;
  width:290px;
}
/* It is to apply to all */
*{              
  margin:0;
  padding:0;
}
.movieSpecs{
  display:flex;
  justify-content: space-between;
  padding: 4px;
}
.movieSummary{
  overflow: auto;
  height: 65px;
  font-size: 14px;
  padding:4px;

}
/* .App{
  display:flex;
  flex-wrap: wrap;
  gap:5px;
  padding-left: 70px;
  padding-top: 10px;
} */

.movieSection{
  display:flex;
  flex-wrap: wrap;
  gap:5px;
  padding-left: 70px;
  padding-top: 10px;
}
.middle{
  height: 10px;
  background-color: rgb(194, 204, 213);
  color: rgb(153, 204, 248);
}
